@page "/user"

@attribute [Authorize]

<PageHeader Title="User"></PageHeader>

@* <Article Title="Claims">
    <div>
        <ul>
            @foreach (var claim in claims!)
            {
                <li><b>@claim.Type</b>: @claim.Value</li>
            }
        </ul>
    </div>
</Article>

<Article Title="Jwt Token" Value="@_jwtToken"></Article> *@