@namespace Smooth.Flaunt.Components

@inherits SmoothComponentBase

<div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="@PercentageDone" aria-valuemin="0" aria-valuemax="100" style="height: 2px">
    <div class="progress-bar" style="@GetWidthStyle"></div>
</div>
